.body {
  display: inline-block;
  width:auto;
}


.side-nav {
  width:10.25em;
  height:auto;
  padding-bottom:2em;
  background-color:rgb(57, 43, 86);
  display: inline-block;
  box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.resume-content {
  display:inline-flex;
  position:absolute;
  font-family:'Calibri';
  padding:1em;
}

.job-history-content {
  display:inline-flex;
  position:absolute;
  font-family:'Calibri';
  padding:1em;
}

#first-name {
  text-align: left;
  color:rgb(182, 205, 224);
  padding-top:1em;
  font-size:1.75em;
}

#last-name {
  text-align: left;
  color:rgb(152, 190, 224);
  padding-top:.5em;
  font-size:1.25em;
}

.resume-side-text {
  text-align: left;
  color:rgb(203, 199, 199);
  padding-top:1em;
  font-size:.8em;

}




#resume-side-header {
  text-align: left;
  color:rgb(152, 190, 224);
  padding-top:.5em;
  font-size:1.25em;
}

.resume-content-wrapper {
  padding:0 2em 0 2em;
}

.resume-side-spacer {
  padding-top:2em;
}

.side-color {
  width:.5em;
  display: inline-block;
}


#side-level-one-color {
  background-color:rgb(187, 234, 237);
  height:48.5em;
}

#side-level-two-color {
  background-color:rgb(206, 237, 239);
  height:48.5em;
}

#side-level-three-color {
  background-color:rgb(229, 241, 241);
  height:48.5em;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1200px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


.education-box {
  border-top-right-radius: .75em;
  font-size: 12px;
  padding-right:1em;
  border-left: solid .15em rgb(57, 43, 86);
}

.education-box-wrapper {
  padding:.5em;
}

.education-grouper {
  display: inline-block;
}

.education-grouper.left {
  display: inline-block;
  padding-right:1em;
}
.education-grouper.right {
  display: inline-block;
  
  padding-top:1em;
  width: 30em;
}

.education-title {
  text-align:left;
  display:inline-block;
  padding-left:.5em;
  font-size:1.5em;
}

.education-box.header {
  background-color: rgb(57, 43, 86);
  color:rgb(255, 255, 255);
  font-weight: bold;
}

.education-box.row{
  text-align:left;
  padding-left:2em;

}



.job-history-box {
  border-top-right-radius: .75em;
  font-size: 12px;
  padding-right:1em;
  border-left: solid .15em rgb(57, 43, 86);
}

.job-history-box-wrapper {
  padding:.5em;
}

.job-history-grouper {
  display: inline-block;
}

.job-history-grouper.left {
  display: inline-block;
  padding-right:1em;
}
.job-history-grouper.right {
  display: inline-block;
  
  padding-top:1em;
  width: 30em;
}

.job-history-title {
  text-align:left;
  display:inline-block;
  padding-left:.5em;
  font-size:1.5em;
}

.job-history-box.header {
  background-color: rgb(57, 43, 86);
  color:rgb(255, 255, 255);
  font-weight: bold;
}

.job-history-box.row{
  text-align:left;
  padding-left:2em;

}

.resume-body {
  display: inline-block;
}

#me-image {
  border-radius: .5em;
  border: solid .05em rgb(152, 190, 224);
  margin-top:1em;
  margin-left:1em;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

.side-component-column {
  display: inline-block;
}