.side-nav {
  width:13em;
  padding-bottom:2em;
  background-color:rgb(57, 43, 86);
  display: inline-block;
}

.resume-content {
  display:inline-block;
  font-family:'Calibri';
}

#first-name {
  text-align: left;
  color:rgb(182, 205, 224);
  padding-top:1em;
  font-size:1.75em;
}

#last-name {
  text-align: left;
  color:rgb(152, 190, 224);
  padding-top:.5em;
  font-size:1.25em;
}

.resume-side-text {
  text-align: left;
  color:rgb(203, 199, 199);
  padding-top:1em;
  font-size:.8em;

}

#resume-side-header {
  text-align: left;
  color:rgb(152, 190, 224);
  padding-top:.5em;
  font-size:1.25em;
}

.resume-content-wrapper {
  padding:0 3em 0 3em;
}

.resume-side-spacer {
  padding-top:2em;
}

.side-color {
  width:.5em;
  display: inline-block;
}

#side-level-one-color {
  background-color:rgb(187, 234, 237);
  height:48.5em;
}

#side-level-two-color {
  background-color:rgb(206, 237, 239);
  height:48.5em;
}

#side-level-three-color {
  background-color:rgb(229, 241, 241);
  height:48.5em;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


.school-box {
  border-top-right-radius: .75em;
  font-size: 12px;
  padding-right:1em;
  border-left: solid .15em rgb(57, 43, 86);
}

.school-box-wrapper {
  padding:.5em

}

.education-title {
  text-align:left;
  padding-left:.5em;
}

.school-box.header {
  background-color: rgb(57, 43, 86);
  color:rgb(255, 255, 255);
  font-weight: bold;
}

.school-box.row{
  text-align:left;
  padding-left:2em;

}

#me-image {
  border-radius: .5em;
  border: solid .05em rgb(152, 190, 224);
  margin-top:1em;
  margin-left:1em;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}
