.body {
  display: inline-block;
  width:auto;
}


.side-nav {
  width:13em;
  height:43em;
  background-color:rgb(57, 43, 86);
  display: inline-block;
}

.resume-content {
  display: inline-block;
  font-family:'Calibri';
}

#first-name {
  text-align: left;
  color:rgb(182, 205, 224);
  padding-top:1em;
  font-size:1.75em;
}

#last-name {
  text-align: left;
  color:rgb(152, 190, 224);
  padding-top:.5em;
  font-size:1.25em;
}

.resume-side-text {
  text-align: left;
  color:rgb(203, 199, 199);
  padding-top:1em;
  font-size:.8em;

}

#resume-side-header {
  text-align: left;
  color:rgb(152, 190, 224);
  padding-top:.5em;
  font-size:1.25em;
}

.resume-content-wrapper {
  text-align: center;
  padding:0 3em 0 3em;
}

.resume-side-spacer {
  padding-top:2em;
}

.side-color {
  width:.5em;
  display: inline-block;
}

#side-level-one-color {
  background-color:rgb(187, 234, 237);
  height:48.5em;
}

#side-level-two-color {
  background-color:rgb(206, 237, 239);
  height:48.5em;
}

#side-level-three-color {
  background-color:rgb(229, 241, 241);
  height:48.5em;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


.box-class {
  border: solid .1em rgb(153, 160, 166);
  border-radius: .25em;
  padding:1em;
  margin:1em;
}

#me-image {
  border-radius: .5em;
  border: solid .05em rgb(152, 190, 224);
  margin-top:1em;
  margin-left:1em;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}
